:root{
    --primary:#e67e22;
    --secondary:#1d1744;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Flexo-Regular";
}
@font-face {
    font-family: "Flexo-Regular";
    src: url(../fonts/Flexo-Regular.ttf);
}
@font-face {
    font-family: "Flexo-Demi";
    src: url(../fonts/Flexo-Demi.ttf);
}
@font-face {
    font-family: "Flexo-Bold";
    src: url(../fonts/Flexo-Bold.ttf);
}
html{
    scroll-behavior: smooth;
    
  }
  
.banner{
    font-family: "Flexo-Regular";
    background:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)) , url(../images/banner-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    background-attachment: fixed;
}
.navbar .logo{
    background-color: var(--primary);
    width: 100px;
    height: 70px;
    position: relative;
    

}
.navbar-light .navbar-nav .nav-link{
    margin-right: 15px;
}
.navbar-light .navbar-nav .nav-link:hover{
    background: var(--primary);
  color: lightgrey;
  border-radius: 5px; 

}

.active{
    background: var(--primary);
  color: lightgrey;
  border-radius: 5px;
}
.navbar .logo img{
    display: inline-block;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navbg{
    background-color: #e67e22;
}
.banner_content{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    
}
.main_content{
display: flex;

}

.banner_content .banner_image{
    width: 300px;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    box-shadow: 1px 9px 14px -2px rgba(0,0,0,0.57);
-webkit-box-shadow: 1px 9px 14px -2px rgba(0,0,0,0.57);
-moz-box-shadow: 1px 9px 14px -2px rgba(0,0,0,0.57);
}
.banner_content .intr{
    width: 500px;
    margin-left: 50px;
}
.banner_content .intr p{
    font-family: "Flexo-Regular";
    color: var(--primary);
}
.banner_content .intr h1{
    font-family: "Flexo-Bold";
    color: white;
}
.social_media{
    position: relative;
    height: 60vh;
}
.play,.inst,.msg{
    width: 200px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.play{
    position: absolute;
    top: 30%;
    left: 10%;
    background-color: var(--primary);
    box-shadow: -5px 6px 30px -8px rgba(0,0,0,0.23);
-webkit-box-shadow: -5px 6px 30px -8px rgba(0,0,0,0.23);
-moz-box-shadow: -5px 6px 30px -8px rgba(0,0,0,0.23);
}
.inst{
    position: absolute;
    right: 0;
    background-color: var(--secondary);
    box-shadow: -5px 6px 30px -8px rgba(0,0,0,0.23);
-webkit-box-shadow: -5px 6px 30px -8px rgba(0,0,0,0.23);
-moz-box-shadow: -5px 6px 30px -8px rgba(0,0,0,0.23);
}
.msg{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: snow;
    box-shadow: 1px 9px 14px -2px rgba(0,0,0,0.57);
-webkit-box-shadow: 1px 9px 14px -2px rgba(0,0,0,0.57);
-moz-box-shadow: 1px 9px 14px -2px rgba(0,0,0,0.57);
}
.play,.inst,.msg a{
    font-size: 35px;
    color: white;
}

.social_media a{
    color: white;
}
.msg a{
    
    color: var(--secondary);
}

/* 2nd */
.experience{
    font-family: "Flexo-Regular";
    background-color: #F5F7F6;
}
.exp_content{
    padding-top: 12%;
    text-align: center;
}
.exp_content .quat{
    margin-bottom: 15px;
}
.exp_content p{
    color: var(--secondary);
}
.exp_content small{
    position: relative;
    display: inline-block;
    margin-bottom: 70px;
}
.exp_content .line{
    position: absolute;
    width: 1px;
    height: 40px;
    background-color: grey;
    left: 50%;
    top: 30px;
    
}
.exp_content h6{
    font-family: "Flexo-Bold";
    font-weight: 900;
    color: var(--secondary);
}
.exp_content .design_logo{
    margin-top: 30px;
    margin-bottom: 5%;
}
.exp_content  h5{
    color: #39316b;
    margin: 40px 0;
}
.exp_content h2{
    font-family: "Flexo-Bold";
    font-weight: 900;
    color: var(--primary);
    margin-bottom: 30px;
}
.exp_content p{
    margin-bottom: 30px;
}
.exp_content p .partPara{
    font-family: "Flexo-Bold";
    font-weight: 900;
    color: var(--secondary);
}
.exp_content .expertise{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 60px;

}
.exp_content .expertise .orangeText{
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    color: #f14703;
    text-align: right;
}


.exp_content .expertise .expBtn{
    display: inline-block;
    background-color: #f14703;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: "Flexo-Bold";
    padding: 5px 40px;
    padding-left: 20px;
    border: 2px solid #f14703;
    
}
.expBtn{
    display: inline-block;
    background-color: #f14703;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: "Flexo-Bold";
    padding: 5px 40px;
    padding-left: 20px;
    border: 2px solid #f14703;
    position: relative;
}
.expBtn::after{
    content: " ➜";
    position: absolute;
    top: 44%;
    right: 13%;
    transform: translateY(-25%);
    font-size: 18px;
    height: 100%;
    width: 0;
   color: white;
   /* z-index: -1; */
   display: block;
   transition: all .2s linear; 
   }
.expertise{
    text-align: center;
}
.expertise .expertise_text_icon{
    margin-top: 5%;
}
.expertise h5{
    color: var(--secondary);
    margin-top: 20px;
    margin-bottom: 7%;
}
.expertise{
    font-family: "Flexo-Regular";
    padding-bottom: 5%;
}

/* first expertise */
.expertise .sketch{
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
margin-bottom: 5%;
}
.expertise .sketch .sketchImage{
    width: 500px;
}
.expertise .sketch .expertiseOne{
    width: 300px;
    text-align: left;
}
.expertise .sketch .expertiseOne h2,p{
    color: #737086;
}
.expertise .sketch .expertiseOne h2{
    font-family: "Flexo-Bold";
}
.expertise .sketch .expertiseOne h6{
    color: var(--primary);
}

/* second expertise */
.expertise .native{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
    }
    .expertise .native .nativeImage{
        width: 500px;
    }
    .expertise .native .expertiseTwo{
        width: 300px;
        text-align: left;
    }
    .expertise .native .expertiseTwo h2,p{
        color: #737086;
    }
    .expertise .native .expertiseTwo h2{
        font-family: "Flexo-Bold";
    }
    .expertise .native .expertiseTwo h6{
        color: var(--primary);
    }


    /* three expertise */
.expertise .graphic
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
    }
    .expertise .graphic .graphicImage{
        width: 500px;
    }
    .expertise .graphic .expertiseThree{
        width: 300px;
        text-align: left;
    }
    .expertise .graphic .expertiseThree h2,p{
        color: #737086;
    }
    .expertise .graphic .expertiseThree h2{
        font-family: "Flexo-Bold";
    }
    .expertise .graphic .expertiseThree h6{
        color: var(--primary);
    }
    .expertise .orangeText{
        margin: 10px 20px;
        font-size: 20px;
        font-weight: 800;
        color: #f14703;
        text-align: center;
    }
 

.ventures{
    text-align: center;
    background-color: #F5F7F6;
    padding-bottom: 30px;
}
.ventures .ventures_icon{
    margin-top: 5%;
    margin-bottom: 10px;
}
.ventures h5{
    color: rgb(102, 99, 99);
    margin-bottom: 30px;
}
.ventures .themeOne .expBtn{
    display: inline-block;
    background-color: #f39923;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: "Flexo-Bold";
    padding: 5px 40px;
    padding-left: 20px;
    border: 2px solid #f39923;
}

/* ventures dlide one */
.ventures .themeOne{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F5F7F6;
    padding-top: 20px;
    }
    .ventures .venturesThemes .themeOne .themeImage{
        width: 500px;
        margin: 10px;
    }
    .ventures .themeOne .themeContent{
        width: 300px;
        text-align: left;
    }
    .ventures .themeOne .themeContent h2,p{
        color: #737086;
    }
    .ventures .themeOne .themeContent h2{
        font-family: "Flexo-Bold";
    }
    .ventures .themeOne .themeContent h6{
        color: var(--primary);
    }

    .ventures .owl-nav{
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 100%;
      }
      .ventures .owl-nav .owl-next:hover{
        background: none !important;
        outline: none !important;
        opacity: 1;
        color: var(--primary);
        transform: scale(1.2);
      }
      .ventures .owl-nav .owl-prev:hover{
        background: none !important;
        outline: none !important;
        opacity: 1;
        color: var(--primary);
        transform: scale(1.2);
      }
      .ventures .owl-nav .owl-prev{
        transition: all .2s linear;
        position: absolute;
       left: 46%;
      }
      .ventures .owl-nav .owl-next{
        transition: all .2s linear;
        position: absolute;
        right: 46%;
      } 


















